<configuration>
    <property resource="logback-variables.properties" />

    <timestamp key="ToDay" datePattern="yyyyMMdd" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ${LOG_PATTERN}
            </Pattern>
        </layout>
    </appender>

    <appender name="LOG-INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/info/${ToDay}_${LOG_FILE_NAME}_info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/info/%d{yyyyMMdd}_${LOG_FILE_NAME}_info_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOG-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/warn/${ToDay}_${LOG_FILE_NAME}_warn.log</file>
        <filter class = "ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/warn/%d{yyyyMMdd}_${LOG_FILE_NAME}_warn_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOG-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/err/${ToDay}_${LOG_FILE_NAME}_err.log</file>
        <filter class = "ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-
            <fileNamePattern>${LOG_PATH}/err/%d{yyyyMMdd}_${LOG_FILE_NAME}_err_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="LOG-DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/debug/${ToDay}_${LOG_FILE_NAME}_debug.log</file>
        <filter class = "ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-
            <fileNamePattern>${LOG_PATH}/debug/%d{yyyyMMdd}_${LOG_FILE_NAME}_debug_%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN_DEBUG}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOG-INFO" />
        <appender-ref ref="LOG-WARN" />
        <appender-ref ref="LOG-ERROR" />
        <appender-ref ref="LOG-DEBUG" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>